* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
a {
  color: inherit;
}

header {
  height: 70px;
  width: 100%;
  background-color: black;
}
.header-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  font-size: 2.3rem;
  color: #3d403f;
}

nav #play {
  padding: 0.5em 1em;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(175, 26, 26);
}

#difficulty {
  background-color: black;
  color: rgb(175, 26, 26);
  padding: 0.5em 1em;
  font-weight: 100;
  font-size: 1rem;
  border-radius: 10px;
}
main {
  background-image: url("../img/explosion.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 140px);
}
.container {
  margin: 0 auto;
  padding: 1em 0;
  width: 70%;
  height: 100%;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.square {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d403f;
}
.active {
  background-color: dodgerblue;
}
.bomb {
  background-color: rgb(175, 26, 26);
}
.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.difficult {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
#score-message {
  background-color: white;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em 0.5em;
  border-radius: 10px;
}
.visible {
  display: block !important;
}

footer {
  height: 70px;
  width: 100%;
  background-color: black;
  color: #3d403f;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
